.featured-restaurant-card__container {
    position: relative;
    text-align: center;
    display: block;
    min-width: 12rem;
    background-color: #ffffff;
}

.featured-restaurant-card__photo {
    margin-top: 1rem;
    height: 13rem;
    width: 9rem;
    border-radius: 10px;
    object-fit: cover;
}

.featured-restaurant-card__container a {
    text-decoration: none;
    color: var(--main-color);
}

.featured-restaurant-card__rating {
    color: var(--accent-color);
    font-weight: bold;
    position: absolute;
    left: 2.3rem;
    top: 11.5rem;
    font-size: 1.1rem;
}

.featured-restaurant-card__header {
    margin: 0.2rem;
    font-size: 1.1rem;
}

.featured-restaurant-card__country {
    margin: 0.2rem;
}

@media only screen and (min-width: 50rem) {
    .featured-restaurant-card__container {
        min-width: 15rem;
    }

    .featured-restaurant-card__photo {
        height: 14rem;
        width: 10rem;
    }

    .featured-restaurant-card__rating {
        left: 2.7rem;
        top: 13rem;
    }
}
