@import url('https://fonts.googleapis.com/css2?family=Solway:wght@400;500;700&display=swap');

:root {
    --main-color: #223843;
    --main-color--lighter: #3796a1;
}

body {
    width: 100%;
    font-family: 'Solway', serif;
}

ul {
    list-style: none;
}
